body {
    background-color: aquamarine;
}
.breakfast{
    background-color: palevioletred;
    border: 2px solid black;
    height: 60px;
}
.lunch{
    background-color: palevioletred;
    border: 2px solid black;
    height: 60px;
}

.as {
    text-align: center;
    color: blue;
    font-family: cursive;
}

h1 {
    text-align: center;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 40px;
}

#one {
    float: left;
    width: 20%;
    padding: 0px;
  }
  
  /* Clear floats after image containers */
  .container::after {
    content: "";
    clear: both;
    display: table;

  }
.container{
    background-color: cadetblue;
}



img {
    height: 200px;
    width: 60%;
}

h2 {
    color: rgb(4, 4, 88);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.one{
    text-align: center;
    width: 180px;
    border: 2px solid black;
}
.one:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}
.two{
    margin-left: 6%;
    width: 180px;
    border: 2px solid black;
}
.two:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}
.three{
    margin-left: 7%;
    
    width: 180px;
    border: 2px solid black;
}
.three:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}
.four{
    margin-left: 8%;
    width: 180px;
    border: 2px solid black;
}
.four:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}
.five{
    margin-left: 8%;
    width: 180px;
    border: 2px solid black;
}
.five:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}