body{
    background-color: rgb(212, 196, 17);
}
form{
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
    background-color: white;
    height: 300px;
    width: 300px;
}

#msg{
    height: 50px;
    
}
h2{
    color: rgb(5, 127, 34);
}
button{
    width: 180px;
    border: 2px solid black;
}
button:hover{
    cursor: pointer;
    background-color: rgb(31, 216, 81);
}