body{
    background-color: rgb(252, 179, 221);
}
div{
    border-color: black;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: blue;
}
.con{
    margin-left: 0%;
    align-content: center;
    text-align: center;
    width: auto;
}
